<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/admin" module="Chapters" action="index" />
  <route url="/admin/chapters-insert\.html" module="Chapters" action="insert" />

  <route url="/admin/chapters-update-([0-9]+)\.html" module="Chapters" action="update" vars="id" />
  <route url="/admin/chapters-delete-([0-9]+)\.html" module="Chapters" action="delete" vars="id" />
  
  <route url="/admin/chapters-private-([0-9]+)\.html" module="Chapters" action="privateChapter" vars="id" />  
  <route url="/admin/chapters-public-([0-9]+)\.html" module="Chapters" action="publicChapter" vars="id" />  

  <route url="/admin/comment-update-([0-9]+)\.html" module="Chapters" action="updateComment" vars="id" />
  <route url="/admin/comment-delete-([0-9]+)\.html" module="Chapters" action="deleteComment" vars="id" />

  <route url="/admin/report\.html" module="Chapters" action="report" />
  <route url="/admin/comment-ignoring-([0-9]+)\.html" module="Chapters" action="ignoringComment" vars="id" />  
  <route url="/admin/comment-reminding-([0-9]+)\.html" module="Chapters" action="remindingComment" vars="id" />  


  <route url="/logout" module="Connexion" action="logout" ></route>
</routes>